@page
@model PRN221_Client.Pages.News.IndexModel
@{
    ViewData["Title"] = "News List";
    
}

<h2>News List</h2>

<table id="myTable" class="display table table-bordered table-hover" style="font-size: 16px">
    <thead>
        <tr>
            <th>Title</th>
            <th>Category</th>
            <th>Created Date</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var news in Model.NewsList)
        {
            <tr>
                <td>@news.Title</td>
                <td>@await Model.GetCategoryName(news.CategoryNewsId)</td>
                <td>@news.CreatedAt.ToString("MMMM dd, yyyy")</td>
                <td class="text-center  ">
                    @if (news.IsDeleted == false)
                    {
                        <ul class="list-inline mb-0 p-0">
                            <li class="list-inline-item">
                                <a title="Detail" class="px-2 text-primary" style="cursor: pointer">
                                    <i class="bx bx-detail"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a title="Update" class="px-2 text-success" style="cursor: pointer">
                                    <i class="bx bx-pencil"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <form method="post" asp-page-handler="Delete" asp-route-id="@news.NewsId" class="d-inline">
                                    <button type="submit" class="btn btn-link text-danger px-2 p-0" title="Delete">
                                        <i class="bx bx-trash-alt"></i>
                                    </button>
                                </form>
                            </li>
                        </ul>
                    }
                    else
                    {
                        @* <a title=""
                           class="px-2 text-success">
                            <i class="fa fa-refresh" aria-hidden="true"></i>
                        </a> *@
                        <form method="post" asp-page-handler="Restore" asp-route-id="@news.NewsId" class="d-inline">
                            <button type="submit" class="btn btn-link text-danger px-2 p-0" title="Restore">
                                <i class="fa fa-refresh"></i>
                            </button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

