@page
@model PRN221_Client.Pages.News.ListNewsModel
@{
    ViewData["Title"] = "Danh sách tin tức";
}
<section class="page--wrapper pb--20" style="transform: none;">
    <div class="container" style="transform: none;">
        <h2 class="pb--20">Tin tức</h2>
        <div class="row" style="transform: none;">
            <!-- Main Content Start -->
            <div class="main--content col-md-8 pb--30" data-trigger="stickyScroll" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                    <div class="main--content-inner" style="background-color: white">
                        <div class="row MasonryRow" style="position: relative; height: 1681.88px;">

                            <div class="col-sm-6 col-xs-12 pb--30" style="position: absolute; left: 390px; top: 0px;">
                                <!-- Post Item Start -->
                                <div class="post--item" data-scroll-reveal="bottom" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease-in-out, -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: box-shadow 0.25s ease-in-out, transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                                    <!-- Post Image Start -->
                                    <div class="post--img">
                                        <a href=""><img src="~/image/background2.jpeg" alt=""></a>
                                    </div>
                                    <!-- Post Image End -->
                                    <!-- Post Info Start -->
                                    <div class="post--info">
                                        <!-- Post Meta Start -->
                                        <div class="post--meta">
                                            <ul class="nav">
                                                <li>
                                                    <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#">
                                                        <img src="~/image/logo.jpg" alt="">
                                                        <span>Tên nguời viết</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#">
                                                        <i class="mr--8 fa fa-calendar-o"></i>
                                                        <span>Ngày tạo News</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Post Meta End -->
                                        <!-- Post Title Start -->
                                        <div class="post--title mt--10">
                                            <h3 class="h6">
                                                <a href="https://themelooks.us/demo/socifly/html/blog-details.html" class="btn-link">Tiêu đề tin tức</a>
                                            </h3>
                                        </div>
                                        <!-- Post Title End -->
                                        <!-- Post Meta Start -->
                                        <div class="post--meta">
                                            <ul class="nav">
                                                <li>
                                                    <i class="mr--8 fa fa-folder-open-o"></i>

                                                    <a href="#"><span>Category news</span></a>
                                                </li>
                                                @* <li>
                                                <i class="mr--8 fa fa-tags"></i>

                                                <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#"><span>Lifestyle</span></a>
                                                <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#"><span>Study</span></a>
                                                <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#"><span>Walkout</span></a>
                                                </li> *@
                                            </ul>
                                        </div>
                                        <!-- Post Meta End -->
                                        <!-- Post Content Start -->
                                        <div class="post--content text-darker mt--10">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                        </div>
                                        <!-- Post Content End -->
                                        <!-- Post Action Start -->
                                        <div class="post--action text-darkest mt--8">
                                            <a href="/News/NewsDetail" class="btn-link">Continue Reading<i class="ml--10 text-primary fa fa-caret-right"></i></a>
                                        </div>
                                        <!-- Post Action End -->
                                    </div>
                                    <!-- Post Info End -->
                                </div>
                                <!-- Post Item End -->
                            </div>
                            <div class="col-sm-6 col-xs-12 pb--30" style="position: absolute; left: 390px; top: 0px;">
                                <!-- Post Item Start -->
                                <div class="post--item" data-scroll-reveal="bottom" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease-in-out, -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: box-shadow 0.25s ease-in-out, transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                                    <!-- Post Image Start -->
                                    <div class="post--img">
                                        <a href=""><img src="~/image/background.jpeg" alt=""></a>
                                    </div>
                                    <!-- Post Image End -->
                                    <!-- Post Info Start -->
                                    <div class="post--info">
                                        <!-- Post Meta Start -->
                                        <div class="post--meta">
                                            <ul class="nav">
                                                <li>
                                                    <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#">
                                                        <img src="~/image/logo.jpg" alt="">
                                                        <span>Tên nguời viết</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#">
                                                        <i class="mr--8 fa fa-calendar-o"></i>
                                                        <span>Ngày tạo News</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Post Meta End -->
                                        <!-- Post Title Start -->
                                        <div class="post--title mt--10">
                                            <h3 class="h6">
                                                <a href="https://themelooks.us/demo/socifly/html/blog-details.html" class="btn-link">Tiêu đề tin tức</a>
                                            </h3>
                                        </div>
                                        <!-- Post Title End -->
                                        <!-- Post Meta Start -->
                                        <div class="post--meta">
                                            <ul class="nav">
                                                <li>
                                                    <i class="mr--8 fa fa-folder-open-o"></i>

                                                    <a href="#"><span>Category news</span></a>
                                                </li>
                                                @* <li>
                                                <i class="mr--8 fa fa-tags"></i>

                                                <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#"><span>Lifestyle</span></a>
                                                <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#"><span>Study</span></a>
                                                <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#"><span>Walkout</span></a>
                                                </li> *@
                                            </ul>
                                        </div>
                                        <!-- Post Meta End -->
                                        <!-- Post Content Start -->
                                        <div class="post--content text-darker mt--10">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                        </div>
                                        <!-- Post Content End -->
                                        <!-- Post Action Start -->
                                        <div class="post--action text-darkest mt--8">
                                            <a href="/News/NewsDetail" class="btn-link">Continue Reading<i class="ml--10 text-primary fa fa-caret-right"></i></a>
                                        </div>
                                        <!-- Post Action End -->
                                    </div>
                                    <!-- Post Info End -->
                                </div>
                                <!-- Post Item End -->
                            </div>
                            <div class="col-sm-6 col-xs-12 pb--30" style="position: absolute; left: 390px; top: 0px;">
                                <!-- Post Item Start -->
                                <div class="post--item" data-scroll-reveal="bottom" data-sr-id="1" style="; visibility: visible;  -webkit-transform: translateY(0) scale(1); opacity: 1;transform: translateY(0) scale(1); opacity: 1;-webkit-transition: box-shadow 0.25s ease-in-out, -webkit-transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; transition: box-shadow 0.25s ease-in-out, transform 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s, opacity 0.8s cubic-bezier(0.6, 0.2, 0.1, 1) 0s; ">
                                    <!-- Post Image Start -->
                                    <div class="post--img">
                                        <a href=""><img src="~/image/background.jpeg" alt=""></a>
                                    </div>
                                    <!-- Post Image End -->
                                    <!-- Post Info Start -->
                                    <div class="post--info">
                                        <!-- Post Meta Start -->
                                        <div class="post--meta">
                                            <ul class="nav">
                                                <li>
                                                    <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#">
                                                        <img src="~/image/logo.jpg" alt="">
                                                        <span>Tên nguời viết</span>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#">
                                                        <i class="mr--8 fa fa-calendar-o"></i>
                                                        <span>Ngày tạo News</span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Post Meta End -->
                                        <!-- Post Title Start -->
                                        <div class="post--title mt--10">
                                            <h3 class="h6">
                                                <a href="https://themelooks.us/demo/socifly/html/blog-details.html" class="btn-link">Tiêu đề tin tức</a>
                                            </h3>
                                        </div>
                                        <!-- Post Title End -->
                                        <!-- Post Meta Start -->
                                        <div class="post--meta">
                                            <ul class="nav">
                                                <li>
                                                    <i class="mr--8 fa fa-folder-open-o"></i>

                                                    <a href="#"><span>Category news</span></a>
                                                </li>
                                                @* <li>
                                                <i class="mr--8 fa fa-tags"></i>

                                                <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#"><span>Lifestyle</span></a>
                                                <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#"><span>Study</span></a>
                                                <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#"><span>Walkout</span></a>
                                                </li> *@
                                            </ul>
                                        </div>
                                        <!-- Post Meta End -->
                                        <!-- Post Content Start -->
                                        <div class="post--content text-darker mt--10">
                                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
                                        </div>
                                        <!-- Post Content End -->
                                        <!-- Post Action Start -->
                                        <div class="post--action text-darkest mt--8">
                                            <a href="/News/NewsDetail" class="btn-link">Continue Reading<i class="ml--10 text-primary fa fa-caret-right"></i></a>
                                        </div>
                                        <!-- Post Action End -->
                                    </div>
                                    <!-- Post Info End -->
                                </div>
                                <!-- Post Item End -->
                            </div>
                            <div class="col-xs-12 pb--30" style="position: absolute; left: 0px; top: 1621px;">
                                <!-- Page Count Start -->
                                <div class="page--count">
                                    <label class="ff--primary fs--14 fw--500 text-darker">
                                        <span>Viewing</span>

                                        <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#" class="btn-link"><i class="fa fa-caret-left"></i></a>
                                        <input type="number" name="page-count" value="01" class="form-control form-sm">
                                        <a href="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#" class="btn-link"><i class="fa fa-caret-right"></i></a>

                                        <span>of 68</span>
                                    </label>
                                </div>
                                <!-- Page Count End -->
                            </div>
                        </div>
                    </div><div class="resize-sensor" style="position: absolute; inset: 0px; overflow: hidden; z-index: -1; visibility: hidden;"><div class="resize-sensor-expand" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0px; top: 0px; transition: all; width: 790px; height: 1723px;"></div></div><div class="resize-sensor-shrink" style="position: absolute; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden; z-index: -1; visibility: hidden;"><div style="position: absolute; left: 0; top: 0; transition: 0s; width: 200%; height: 200%"></div></div></div>
                </div>
            </div>
            <!-- Main Content End -->
            <!-- Main Sidebar Start -->
            <div class="main--sidebar col-md-4 pb--60" data-trigger="stickyScroll" style="position: relative; overflow: visible; box-sizing: border-box; min-height: 1px;">
                <!-- Widget Start -->
                <!-- Widget End -->
                <div class="theiaStickySidebar" style="padding-top: 0px; padding-bottom: 1px; position: static; transform: none;">
                    <div class="widget">
                        <h2 class="h4 fw--700 widget--title">Find A Buddy</h2>

                        <!-- Buddy Finder Widget Start -->
                        <div class="buddy-finder--widget">
                            <form action="https://themelooks.us/demo/socifly/html/blog-sidebar-right.html#">
                                <div class="row">
                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group">
                                            <label>
                                                <span class="text-darker ff--primary fw--500">I Am</span>

                                                <select name="gender" class="form-control form-sm" data-trigger="selectmenu" style="display: none;">
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                    <option value="other">Other</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group">
                                            <label>
                                                <span class="text-darker ff--primary fw--500">Looking For</span>

                                                <select name="lookingfor" class="form-control form-sm" data-trigger="selectmenu" style="display: none;">
                                                    <option value="female">Female</option>
                                                    <option value="male">Male</option>
                                                    <option value="other">Other</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group">
                                            <label>
                                                <span class="text-darker ff--primary fw--500">Age</span>

                                                <select name="age" class="form-control form-sm" data-trigger="selectmenu" style="display: none;">
                                                    <option value="18to25">18 to 25</option>
                                                    <option value="25to30">25 to 30</option>
                                                    <option value="30to35">30 to 35</option>
                                                    <option value="35to40">35 to 40</option>
                                                    <option value="40plus">40+</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-6 col-xxs-12">
                                        <div class="form-group">
                                            <label>
                                                <span class="text-darker ff--primary fw--500">City</span>

                                                <select name="city" class="form-control form-sm" data-trigger="selectmenu" style="display: none;">
                                                    <option value="newyork">New York</option>
                                                    <option value="California">California</option>
                                                    <option value="Atlanta">Atlanta</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <div class="form-group">
                                            <label>
                                                <span class="text-darker ff--primary fw--500">Filter Country</span>

                                                <select name="city" class="form-control form-sm" data-trigger="selectmenu" style="display: none;">
                                                    <option value="unitedstates">United States</option>
                                                    <option value="australia">Australia</option>
                                                    <option value="turkey">Turkey</option>
                                                    <option value="vietnam">Vietnam</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-xs-12">
                                        <button type="submit" class="btn btn-primary">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!-- Buddy Finder Widget End -->
                    </div>       
                </div>
            </div>
            <!-- Main Sidebar End -->
        </div>
    </div>
</section>
