@page
@model PRN221_Client.Pages.Access.ForgotPasswordModel
@{
    Layout = "_LayoutAccess";
    ViewData["Title"] = "Đăng nhập";
}
<section class="container forms">

    <div class="form login">
        <div class="form-content">
            <h1 class="title-login">Quên mật khẩu?</h1>

            <form method="post" asp-page-handler="ForgotPassword">
                <label>Nhập Email ở đây</label>
                <div class="field input-field">
                    <input asp-for="ResetEmail" type="text" placeholder="Email" class="input">

                </div>
                <!-- Hiển thị thông báo lỗi tổng quát -->
                <div class="text-danger">
                    <span asp-validation-for="ResetEmail" class="text-danger"></span>
                </div>

                <div class="text-danger">
                    @if (ViewData.ModelState.ContainsKey("EmailNotFound"))
                    {
                        <span>@ViewData.ModelState["EmailNotFound"].Errors[0].ErrorMessage</span>
                    }
                </div>               
                <div class="field button-field">
                    <button class="btn-submit-reset-pass">Xác nhận</button>
                </div>
     
            </form>
        </div>
    </div>
    <!-- Signup Form -->
</section>

<!-- JavaScript -->
<script src="~/js/loginMain.js"></script>
<script type="text/javascript">
    if (window.location.hash === '#_=_') {
        if (history.replaceState) {
            var cleanUrl = window.location.href.split("#")[0];
            history.replaceState(null, null, cleanUrl);
        } else {
            window.location.hash = '';
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}