@page "/Access/OptionsRole"
@model PRN221_Client.Pages.Access.OptionsRoleModel
@{
    Layout = "_LayoutAccess";
    ViewData["Title"] = "Lựa chọn chức vụ";
}
<main>
    <div class="container-role">
        <h1>Bạn muốn tạo tài khoản cho?</h1>

        <div class="option-role">
            <a class="register-farmer" href="/Access/RegisterFarmer">
                Nông dân
            </a>
            <a class="register-expert" href="/Access/RegisterExpert">
                Chuyên gia
            </a>
        </div>

        <div class="back-login">
            <a href="/Access/Login"><i class="fa-regular fa-hand-point-left"></i> Trở về trang đăng nhập</a>
        </div>
    </div>
</main>