@page "/Access/RegisterFarmer"
@model PRN221_Client.Pages.Access.RegisterFarmerModel
@{
    Layout = "_LayoutAccess";
    ViewData["Title"] = "Đăng ký";
}

<main class="pt-3">
    <div class="container-register">
        <h1 class="title">Đăng ký</h1>

        <form method="post" asp-page-handler="RegisterFarmer" class="form-register">

            <div class="field input-field form-floating">
                <input type="text" placeholder="Nhập họ và tên" id="floatingFullname" class="fullname inputRegister form-control" name="FullName">
                <label for="floatingFullname">Họ và tên</label>
            </div>

            <div class="input-field gender-field">
                <label class="label-label" for="gender-options">Giới tính:</label>
                <div class="gender-options" id="gender-options">
                    <div class="male-option">
                        <input type="radio" id="male" name="Gender" value="Male">
                        <label for="male">Nam</label>
                    </div>
                    <div class="female-option">
                        <input type="radio" id="female" name="Gender" value="Female">
                        <label for="female">Nữ</label>
                    </div>
                </div>
            </div>

            <div class="field input-field form-floating">
                <input type="text" placeholder="Nhập số điện thoại" id="floatingPhone" class="phonenumber inputRegister form-control" name="PhoneNumber">
                <label for="floatingPhone">Số điện thoại</label>
            </div>

            <div class="field input-field form-floating">
                <input type="text" placeholder="Nhập tên đăng nhập" id="floatingUsername" class="username inputRegister form-control" name="Username">
                <label for="floatingUsername">Tên đăng nhập</label>
            </div>

            <div class="field input-field form-floating">
                <input type="password" placeholder="Tạo mật khẩu" id="floatingPass" class="password inputRegister form-control" name="Password">
                <label for="floatingPass">Mật khẩu</label>
            </div>

            <div class="field input-field form-floating">
                <input type="password" placeholder="Xác nhận mật khẩu" id="floatingRepass" class="password form-control">
                <label for="floatingRepass">Xác nhận mật khẩu</label>
            </div>

            <div class="field button-field">
                <button>Đăng ký</button>
            </div>
        </form>

        <div class="back-login">
            <a href="/Access/Login"><i class="fa-regular fa-hand-point-left"></i> Trở về trang đăng nhập</a>
        </div>
    </div>
</main>