@page
@model PRN221_Client.Pages.Access.ResetPasswordModel
@{
    Layout = "_LayoutAccess";
    ViewData["Title"] = "Đăng nhập";
}
<section class="container forms">

    <div class="form login">
        <div class="form-content">
            <h1 class="title-login">Quên mật khẩu?</h1>

            <form method="post" asp-page-handler="ResetPassword">
                <label>Nhập mật khẩu mới</label>
                <div class="field input-field">
                    <input type="password" placeholder="Mật khẩu" class="password" asp-for="NewPassword" required>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <label>Xác nhận mật khẩu</label>
                <div class="field input-field">
                    <input type="password" placeholder="Mật khẩu" class="password" asp-for="ConfirmPass" required>
                    <span asp-validation-for="ConfirmPass" class="text-danger"></span>
                </div>

                <div class="field button-field">
                    <button>Xác nhận</button>
                </div>

            </form>
        </div>
    </div>
    <!-- Signup Form -->
</section>

<!-- JavaScript -->
<script src="~/js/loginMain.js"></script>
<script type="text/javascript">
    if (window.location.hash === '#_=_') {
        if (history.replaceState) {
            var cleanUrl = window.location.href.split("#")[0];
            history.replaceState(null, null, cleanUrl);
        } else {
            window.location.hash = '';
        }
    }
</script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}