@model IEnumerable<PRN221_Models.Models.ServiceRating>
@inject PRN221_BusinessLogic.Interface.IAccountService _accountService;

@foreach (var ratingList in Model)
{
    var getAccInList = await _accountService.GetByIdAccount(ratingList.UserId); // Giả định rằng _accountService có thể được dùng trong Partial
    <div class="border p-3 mb-2">
        <div class="d-flex mb-2">
            <img src="../frontend/img/gitiho_v2/placehover_18x18.png"
                 alt="" data-src="../caches/ua_small/users/1615037654.jpg"
                 class="my-auto rounded-circle lazyload mr-3" width="36px"
                 height="36px" />
            <div class="user-right-new">
                <p class="mb-0 f-16 user-name color_label fw-700">
                    <a target="_blank" href="https://gitiho.com/u/79716-lam-phuong-chi">
                        @getAccInList.Username
                    </a>
                </p>
                <div class="d-flex">
                    <div class="cou-rating mr-3">
                        <div class="gen-star">
                            <div class="stars">
                                @{
                                    int fullStars = (int)Math.Floor(ratingList.Rating);
                                    int emptyStars = 5 - fullStars;
                                }
                                <div class="stars-content">
                                    @for (int i = 1; i <= fullStars; i++)
                                    {
                                        <label class="star-cmt" title="Full star">★</label>
                                    }
                                    @for (int i = 1; i <= emptyStars; i++)
                                    {
                                        <label class="star-cmt" title="Empty star">☆</label>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="mb-0 color_text2">@ratingList.RatedAt</p>
                </div>
            </div>
        </div>
        <div class="f-16" style="word-break: break-word">
            @ratingList.Comment
        </div>
    </div>
}
