@page "/Service/AddService"
@model PRN221_Client.Pages.Service.AddServiceModel
@{
    ViewData["Title"] = "Thêm dịch vụ";
}

<style>
    .valid-service{
        text-align: start;
    }
</style>
<!-- JQUERY STEP -->
<link rel="stylesheet" href="~/css/addServiceStyle.css"/>
<section class="body-form">
    <h1>Tạo dịch vụ</h1>
    <form class="cf" method="post" asp-page-handler="AddService">
        <div class="half left cf">
            <h4 class="title-input">Tiêu đề</h4>
            <input class="input-form" asp-for="TitleInput" type="text" id="input-name" placeholder="Tiêu đề">
            <div class="text-danger valid-service">
                <span asp-validation-for="TitleInput" class="text-danger"></span>
            </div>
            <h4 class="title-input">Giá dịch vụ</h4>
            <input class="input-form" asp-for="PriceInput" type="text" id="input-email" placeholder="Giá">
            <div class="text-danger valid-service">
                @if (ViewData.ModelState.ContainsKey("PriceNotZero"))
                {
                    <span class="valid-service">@ViewData.ModelState["PriceNotZero"].Errors[0].ErrorMessage</span>
                }
                else if (ViewData.ModelState.ContainsKey("PriceInteger"))
                {
                    <span class="valid-service">@ViewData.ModelState["PriceInteger"].Errors[0].ErrorMessage</span>
                }
            </div>
            <h4 class="title-input" >Nội dung</h4>
            <textarea class="input-form" asp-for="Description" name="Description" type="text" id="input-message"></textarea>
            <div class="text-danger valid-service">
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <input class="submit-service" type="submit" value="Tạo mới" id="input-submit">
    </form>
</section>
