@page "/Service/AddService"
@model PRN221_Client.Pages.Service.AddServiceModel
@{
}
<!-- JQUERY STEP -->
<link rel="stylesheet" href="~/css/addServiceStyle.css"/>
<section class="body-form">
    <h1>Tạo dịch vụ</h1>
    <form class="cf" method="post" asp-page-handler="AddService">
        <div class="half left cf">
            <h4 class="title-input">Tiêu đề</h4>
            <input class="input-form" type="text" id="input-name" placeholder="Tiêu đề" name="TitleInput" required>
            <h4 class="title-input">Giá dịch vụ</h4>
            <input class="input-form" type="number" id="input-email" placeholder="Giá" name="PriceInput" required>
            <h4 class="title-input" >Nội dung</h4>
            <textarea class="input-form" name="Description" type="text" id="input-message" placeholder="Message" required></textarea>
        </div>
        <input class="submit-service" type="submit" value="Tạo mới" id="input-submit">
    </form>
</section>
