/*

[Custom Stylesheet]

Project     : SociFly - Multipurpose Social Network HTML5 Template
Version     : 1.0
Author      : ThemeLooks
Author URI  : https://themeforest.net/user/themelooks

You can write your custom css styles in this file...

*/
.header--section.style--1 {
}

#header--toppart > container {
}

#sticky--wrapper {
    background: #6ab04c;
}

    /*SEARCH BOX header*/
    #sticky--wrapper .container {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-basis: 1000px;
        padding: 5px 0;
        margin: 0 20px;
    }

        #sticky--wrapper .container .navbar-header {
            width: 20%;
            display: flex;
            justify-content: center;
        }

/*SEARCH BOX*/
.search-container {
    width: 20%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-right: 20px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.search-container.showBoxShadow {
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.285);
    background: white;
}

.search-container .head-search {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
}
.search-container .head-search .back-btn {
    background: white;
    border: none;
    cursor: pointer;
    transition: 0.4s ease;
    width: 0;
    height: 37px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
    transition: width 0.3s ease;
}
.search-container .head-search .back-btn:hover {
    background: rgba(0, 0, 0, 0.1);
}

        /* form search  */
.search-container .head-search #form-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.211);
    width: 250px;
    height: 40px;
    overflow: hidden;
    border-radius: 50px;
    padding-left: 12px;
    margin-left: 10px;
    background: white;
}
.search-container .head-search #form-search i {
    color: rgba(0, 0, 0, 0.386);
    text-align: center;
    height: 100%;
    width: 20px;
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
    background: white;
}
.search-container .head-search #form-search input {
    flex: 1;
    padding-left: 5px;
    height: 100%;
    border: none;
    outline: none;
    color: rgba(0, 0, 0, 0.386);
}

/* button back  */
.head-search.expand #form-search {
    width: 220px;
}
.head-search.expand .back-btn {
    width: 40px;
    opacity: 1;
    visibility: visible;
    transition-delay: 0s; /* Remove delay on visibility */
}
.head-search.expand #form-search i {
    width: 0;
    transition-delay: 0;
}

/* Suggest */
.search-container .suggestions-box {
    display: none;
    transition: display 0.25s;
}
.search-container .suggestions-box.showSuggest {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 5px 10px;
    background: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.285);
    z-index: 100;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.search-container .suggestions-box.showSuggest a {
    width: calc(100% - 10px);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: left;
    text-decoration: none;
    transition: 0.2s ease;
    color: rgba(0, 0, 0, 0.573);
    padding-left: 10px;
    border-radius: 5px;
}
.search-container .suggestions-box.showSuggest a:hover {
    background: rgba(0, 0, 0, 0.145);
}



/*ACTIVITIES LIST*/
.main--content-inner {
    background: white;
}
.activity--list {
    background: transparent;
}
.activity--list ul li {
    background: white;
    padding: 10px;
    border-radius: 10px;
}
.activity--list ul li div {
    padding: 0;
}
/*FOOTER*/
.footer--section .widget a {
    color: white;
}


/*ADD POST INDEX */
.wrapper-add-post {
    width: 710px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
}
.wrapper-add-post .post-header {
    display: flex;
    align-items: center;
}
.post-header img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-header input {
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px;
    font-size: 14px;
    outline: none;
    background: #f0f2f5;
    cursor: pointer;
    transition: 0.1s;
}
.post-header input:hover {
    background: #c8c9caa0;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup.ShowPopup {
    display: flex;
}
.popup-content {
    background: white;
    width: 700px;
    max-height: 80%; /* Giới hạn chiều cao tối đa thành 80% của viewport */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    overflow: hidden; /* Không cho phép cuộn */
}
.popup-content .close-btn {
    background: none;
    border: none;
    font-size: 20px;
    float: right;
    cursor: pointer;
}
.popup-content textarea {
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    outline: none;
    height: 180px;
}
.popup-content .actions {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.popup-content .actions button {
    background: none;
    border: none;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.popup-content .actions button img {
    width: 20px;
    margin-right: 5px;
}
#imagePreview {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Khoảng cách giữa các ảnh */
    max-height: 150px; /* Giới hạn chiều cao */
    overflow-y: auto; /* Cho phép cuộn nếu có nhiều ảnh */
    overflow-x: hidden; /* Ẩn cuộn ngang */
}

#clearImagesButton {
    padding: 10px 15px;
    color: rgba(255, 255, 255, 0.6);
    background: rgb(234, 109, 109);
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

/* SELECT INPUT */
#select-input {
    appearance: none;
    outline: 10px red;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 0 1em;
    color: #fff;
    background-color: #2c3e50;
    cursor: pointer;
    height: 100%;
}

select::-ms-expand {
    display: none;
}

.select {
    display: flex;
    width: 20em;
    height: 3em;
    border-radius: .25em;
    overflow: hidden;
    gap: 20px;
    align-items: center;
    overflow: hidden;
}

/*LIST POST INDEX */

.activity--content .content-text-ellipsis {
    width: 600px;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
    margin-bottom: 20px;
}

/*POST details */

.post-detail-info {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.post-detail-info .post-detail-avatar {
    width: 10%;
    height: 10%;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid black;
}
.post-detail-info .post-detail-title {
    font-size: 17px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.post-detail-title .post-detail-date {
    font-size: 13px;
}
.post-detail-content {
    margin-top: 20px;
    font-size: 17px;
}